<section class="col-12 my-2">
  <h1 class="mx-5">List of ALL events</h1>
  <br/>
  <%= link_to 'Create a new Event', new_event_path, class: "btn btn-primary mx-5 text-white rounded" %>
  <br/>
  <br/>
  <table class="table table-sm table-responsive">
    <thead>
      <tr>
        <th><i class="bi bi-list-ol"></i></th>
        <th>Title</th>
        <th>Location</th>
        <th><i class="bi bi-calendar3"></i></th>
        <th><i class="bi bi-alarm"></i></th>
        <th>Promoter</th>
        <th>Description</th>
        <th><i class="bi bi-tag"></i></th>
        <th><i class="bi bi-people-fill"></i></th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%@events.order(title: :asc).each do |my_event| 
        tmp_bool = user_signed_in? && my_event.promoter_id == current_user.id
        admin_or_author = tmp_bool ? "" : " disabled"
        # TO DO: Add the "super admin role" management to enable ALL actions on ALL events
      %>
        <tr>
          <td><%=my_event.id%></td>
          <td><%=my_event.title%></td>
          <td><%=my_event.location%></td>
          <td><%=my_event.start_date%></td>
          <td><%=(my_event.duration/60).to_s+" hrs "+(my_event.duration%60).to_s+" mns"%></td>
          <td><%=my_event.promoter.first_name+" "+my_event.promoter.last_name+" ["+my_event.promoter_id.to_s+"]"%></td>
          <td><%=my_event.description%></td>
          <td><%=my_event.price.to_s+"€"%></td>
          <td><%=my_event.attendees.count%></td>
          <td><%= link_to 'Details', event_path(my_event.id), method: :get, class: "btn btn-sm btn-info rounded" %></td>
          <td><%= link_to 'Edit', edit_event_path(my_event.id), class: "btn btn-sm btn-warning rounded#{admin_or_author}" %></td>
          <td><%= link_to 'Delete', event_path(my_event.id), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: "btn btn-sm btn-danger rounded#{admin_or_author}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
