<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour <%=@my_promoter.first_name%>,</p>
    <p>
      Une nouvelle demande d'inscription a été acceptée à l'événement "<%=@my_event.title%> (<%=@my_event.location%>)" pour <%=@my_attendee.first_name+" "+@my_attendee.last_name%>.
    </p>
    <p>
      Au besoin, voici les informations dont nous disposons à propos de cette personne:
    </p>
    <ul>
      <li>Age : <%=@my_attendee.age%></li>
      <li>E-mail : <%=@my_attendee.email%></li>
      <li>Descr. : <%=@my_attendee.description%></li>
      <li>Inscription : <%=@my_attendee.created_at%></li>
    </ul>
    <p>
      À très vite sur Event Hack !
    </p>
  </body>
</html>